// CreatePost.vue

<template>
  <div>
    <h1>Your details </h1>
    <form @submit.prevent="addPost">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First name</label>
      <input type="text" class="form-control" v-model="post.first_name" placeholder="First name" required>
      <div class="invalid-feedback">
          Please choose a firstname.
        </div>
    </div>
    
    <div class="form-group col-md-6">
      <label>Last name</label>
      <input type="text" class="form-control" v-model="post.last_name" placeholder="Last name" required>
      <div class="invalid-feedback">
          Please choose a lastname.
        </div>
    </div>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" v-model="post.email" placeholder="test@admin.com">
    <div class="invalid-feedback">
          Please choose a email address.
        </div>
  </div>
  <div class="form-group">
    <label >Phone number</label>
    <input type="text" class="form-control" v-model="post.phone_number" placeholder="072 222 1000">
    <div class="invalid-feedback">
          Please choose a phone number.
        </div>
  </div>
  <div class="form-group">
    <label >Address</label>
    <input type="text" class="form-control" v-model="post.address_one" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label>Address 2</label>
    <input type="text" class="form-control" v-model="post.address_two" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>City</label>
      <input type="text" class="form-control" v-model="post.city_town">
    </div>
    <div class="form-group col-md-4">
      <label>Province</label>
      <input type="text" class="form-control" v-model="post.province">
    </div>
    <div class="form-group col-md-2">
      <label>Postal Code</label>
      <input type="text" class="form-control" v-model="post.postal_code">
    </div>
  </div>
  <div class="form-group">
    <label>Question</label>
    <textarea class="form-control" rows="3" v-model="post.question"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
     <input class="form-check-input" type="hidden" v-model="post.email_opt" value="0">
      <input class="form-check-input" type="checkbox" v-model="post.email_opt" value="1">
      <label class="form-check-label">
        Email marketing opt-in
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>


</form>
  </div>
</template>

<script>
    export default {
        data(){
        return {
          post:{}
        }
    },
    methods: {
      addPost(){
        let uri = 'http://localhost:8000/api/post/create';
        this.axios.post(uri, this.post).then((response) => {
          this.$router.push({name: 'home'});
    });
      }
    }
  }
</script>