// EditComponent.vue

<template>
  <div>
    <h1>Edit User Details</h1>
    <form @submit.prevent="updatePost">
      <div class="form-row">
    <div class="form-group col-md-6">
      <label>First name</label>
      <input type="text" class="form-control" v-model="post.first_name" placeholder="First name">
    </div>
    <div class="form-group col-md-6">
      <label>Last name</label>
      <input type="text" class="form-control" v-model="post.last_name" placeholder="Last name">
    </div>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="text" class="form-control" v-model="post.email" placeholder="test@admin.com">
  </div>
  <div class="form-group">
    <label >Phone number</label>
    <input type="text" class="form-control" v-model="post.phone_number" placeholder="072 222 1000">
  </div>
  <div class="form-group">
    <label >Address</label>
    <input type="text" class="form-control" v-model="post.address_one" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label>Address 2</label>
    <input type="text" class="form-control" v-model="post.address_two" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>City</label>
      <input type="text" class="form-control" v-model="post.city_town">
    </div>
    <div class="form-group col-md-4">
      <label>Province</label>
      <input type="text" class="form-control" v-model="post.province">
    </div>
    <div class="form-group col-md-2">
      <label>Postal Code</label>
      <input type="text" class="form-control" v-model="post.postal_code">
    </div>
  </div>
  <div class="form-group">
    <label>Question</label>
    <textarea class="form-control" rows="3" v-model="post.question"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
     <input class="form-check-input" type="hidden" v-model="post.email_opt" value="0">
      <input class="form-check-input" type="checkbox" v-model="post.email_opt" value="1">
      <label class="form-check-label">
        Email marketing opt-in
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</template>

<script>
    export default {

      data() {
        return {
          post: {}
        }
      },
      created() {
        console.log(this.$route.params.id);
        let uri = `http://localhost:8000/api/post/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data;
        });
      },
      methods: {
        updatePost() {
          let uri = `http://localhost:8000/api/post/update/${this.$route.params.id}`;
          this.axios.post(uri, this.post).then((response) => {
            this.$router.push({name: 'posts'});
          });
        }
      }
    }
</script>