// EditComponent.vue

<template>
  <div>
    <h1>User Details</h1>
    <form @submit.prevent="updatePost">
      <div class="form-row">
    <div class="form-group col-md-6">
      <label>First name</label>
      <input type="text" class="form-control" v-model="post.first_name" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Last name</label>
      <input type="text" class="form-control" v-model="post.last_name" readonly>
    </div>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="text" class="form-control" v-model="post.email" readonly>
  </div>
  <div class="form-group">
    <label >Phone number</label>
    <input type="text" class="form-control" v-model="post.phone_number" readonly>
  </div>
  <div class="form-group">
    <label >Address</label>
    <input type="text" class="form-control" v-model="post.address_one" readonly>
  </div>
  <div class="form-group">
    <label>Address 2</label>
    <input type="text" class="form-control" v-model="post.address_two" readonly>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>City</label>
      <input type="text" class="form-control" v-model="post.city_town" readonly>
    </div>
    <div class="form-group col-md-4">
      <label>Province</label>
      <input type="text" class="form-control" v-model="post.province" readonly>
    </div>
    <div class="form-group col-md-2">
      <label>Postal Code</label>
      <input type="text" class="form-control" v-model="post.postal_code" readonly>
    </div>
  </div>
  <div class="form-group">
    <label>Question</label>
    <textarea class="form-control" rows="3" v-model="post.question" readonly></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
     <input class="form-check-input" type="hidden" v-model="post.email_opt" value="0" readonly>
      <input class="form-check-input" type="checkbox" v-model="post.email_opt" value="1" readonly>
      <label class="form-check-label">
        Email marketing opt-in
      </label>
    </div>
  </div>
    </form>
  </div>
</template>

<script>
    export default {

      data() {
        return {
          post: {}
        }
      },
      created() {
        console.log(this.$route.params.id);
        let uri = `http://localhost:8000/api/post/show/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data;
        });
      },
      methods: {
        updatePost() {
          let uri = `http://localhost:8000/api/post/update/${this.$route.params.id}`;
          this.axios.post(uri, this.post).then((response) => {
            this.$router.push({name: 'posts'});
          });
        }
      }
    }
</script>